body {
    margin: 0;
    overflow: hidden;
    background: #111;
    font-family: sans-serif;
    color: white;
}

canvas {
    display: block;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
